#header-navbar-bg{
    position: absolute;
    top: 0;
    width: 100%;
    
    #header-navbar-container{
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h1{
            font-size: 2.5rem;
            font-weight: $semiBold;
            color: $lightGray;
        }
    }
}